body {
  font-family: "Godo", sans-serif;
}

.title {
  font-family: "Godo", sans-serif;
  font-weight: 700; /* 고도 Bold */
  font-size: 48px;
  color: #ff0000;
}

.text-regular {
  font-family: "Godo", sans-serif;
  font-weight: 400;
}

.text-bold {
  font-family: "Godo", sans-serif;
  font-weight: 700;
}
